body {
  background: #f4f4f4;
}

svg {
  display: block;
  margin: auto;
}

.land-boundary {
  fill: grey;
}

.state-boundary {
  fill: none;
  stroke: white;
  stroke-width: 0.25;
}

.route {
  fill: none;
  stroke: rgb(196, 228, 243);
  stroke-width: 3px;
}
