html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #f4f4f4;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

svg {
  display: block;
  margin: auto;
}

.land-boundary {
  fill: grey;
}

.state-boundary {
  fill: none;
  stroke: white;
  stroke-width: 0.25;
}

.label.units {
  font-size: 14px;
  cursor: pointer;
}

.navbar-brand>img {
    margin-top: -15px;
    vertical-align: -18px;
    display: inline-block;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.country {
  fill: grey;
}

.boundary {
  fill: none;
  stroke: white;
  stroke-width: 0.25;
}

.fa-stop-circle{
  color: grey;
  cursor: pointer;
}

.fa-stop-circle.on{
  color: rgba(200,47,47,1);
  cursor: pointer;
}

.fa-play-circle{
  color: grey;
  cursor: pointer;
}
.fa-play-circle.on{
  color: rgba(73,163,127,1);
  cursor: pointer;
}
